body
{
    background: linear-gradient(0.25turn, #353535 20%, #ffffff);
}

h1
{
    text-align: center;
    margin: 10%;
    width: 550px;
    font-family: Verdana;
    position: center;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    background: #ffffff77;
}