/* ---------- SHORT DESCRIPTION */

#description_area {
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.text_description {
    font-size: 13px;
    font-style: italic;
    text-align: center;
}

/* ---------- PROF SKILLS */

#skills_area {
    height: 400px;
}

.left_skills_area {
    float: left;
    display: flex;
    width: 325px;
    height: 35px;
}

.right_skills_area {
    float: left;
    display: flex;
    margin-left: 20px;
    width: 325px;
    height: 35px;
}

.title_skills_area {
    float: left;
    width: 150px;
    height: 25px;
}

.level_skills_area {
    float: right;
    display: flex;
    height: 25px;
    margin-left: 0;
}

/* ---------- PROFESSIONAL EXPERIENCES + EDUCATION */

#experience_area {
    height: 350px;
}

#education_area {
    height: 300px;
}

.left_exp_area, .left_edu_area {
    float: left;
    width: 270px;
    height: 60px;
    padding-left: 20px;
}

.right_exp_area, .right_edu_area {
    float: left;
    width: 380px;
    height: 60px;
    margin-right: 2s0px;
}