body
{
    font-family: Verdana;
    background: radial-gradient(#ffffff,#353535);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    /* pour centrer tout le site */
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 1500px;
    width: 1080px;
}

/* all <div> elements in the main area = left-area and right-area*/
#main-area > div
{
    height: 1500px;
}

/* main area in the page */
#main-area
{
    width: 1080px;
}

/* LEFT AREA */

    #left-area
    {
        float: left;
        width: 350px;
        background: #000000b0;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }

    /* portrait photograph */
    .roundPicture
    {
        border-radius: 50%;
        height: 200px;
        margin-left: 75px;
        margin-top: 75px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    }

    .whiteMenu
    {
        color: #cccccc;
        margin-left: 40px;
        margin-top: 50px;
    }

    h3
    {
        font-size: 12pt;
        margin-top: 16px;
        margin-bottom: -8px;
    }

    .info
    {
        font-size: 10pt;
        margin-bottom: 20px;
        line-height: 1.5;
    }

/* RIGHT AREA */

    #header
    {
        height: 100px;
    }

    #right-area
    {
        float: right;
        width: 730px;
        background: #ffffff70;
    }

    /* title of CV */    
    h1
    {
        font-size: 40pt;
        position: center;
        font-variant-caps: small-caps;
        letter-spacing: 5px;
        background: #ffffff77;
        text-align: center;
        margin-left: -70px;
        width: 800px;
    }

    h2
    {
        font-size: 16pt;
        font-weight: bold;
        letter-spacing: 4px;
    }

    /* horizontal line */
    .horizontal-line
    {
        display: flex;
        border-bottom: 3px solid rgba(0, 0, 0, 0.7);
        width: 100px;
        box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.5);
    }


    /* professional skills */
    .blackMenu
    {
        color: #000000;
        margin-left: 40px;
        margin-top: 50px;
    }

    .proSkills
    {
        float: left;
        display: flex;
        margin-left: 20px;
        margin-bottom: -25px;
    }
    .skill
    {
        width: 120px;
        margin-left: 20px;
        font-size: 12pt;
        font-weight: bold;
    }

    .blackCircle
    {
        background-color: rgba(0, 0, 0, 0.7);
        width: 15px;
        height: 15px;
        border-radius: 7.5px;
        margin-top: 20px;
        margin-right: 3px;
    }

    .whiteCircle
    {
        background-color: rgba(255, 255, 255, 0.7);
        width: 15px;
        height: 15px;
        border-radius: 7.5px;
        margin-top: 20px;
        margin-right: 3px;
    }